/*  css for new member */
#add {
  margin-bottom: 2px;
  padding-top: 5px;
  font-size: 15px;
  height: 20px;
}

#delete {
  display: none;
}

.search {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.search input {
  text-indent: 30px;
  font-family: FontAwesome, sans-serif;
}

.search .fa-search {
  position: absolute;
  top: 2%;
  left: 10%;
  font-size: 15px;
}

.k-filter-row th,
.k-grid-header th.k-header,
.k-grid-header th.k-header > .k-link {
  white-space: pre-line;
  overflow: visible;
}

.k-grid-header .k-grid-header-wrap th.k-header {
  text-align: center;
  vertical-align: middle;
}

.myBadge {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  width: 65px;
  cursor: default;
}

.btn-key,
.btn-key:hover,
.btn-edit,
.btn-edit:hover {
  transition: all 0.25s;
}

.k-pager-input > .k-textbox {
  border-radius: 100%;
  text-align: center;
  height: 2.5em;
  width: 2.5em;
  text-indent: 0;
}

.iconSize {
  font-size: 20px;
}
